body {
    background-color: rgb(250, 217, 177);
}

.container {
    display: flex;
}

main {
    width: 70%;
    background-color: #fff;
    border-radius: 0.5em;
}

sidebar {
    width: 30%;
    padding: 1.5em;
    margin-left: 1.5em;
    background-color: #fff;
    border-radius: 5em;
}